<!DOCTYPE html>
{% csrf_token %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estas buscando: <strong>{{query}}</strong></p>
    {% if nombre %}
        <p>Nombre encontrados: {{nombre|length}} nombre</p>

        <ul>

            {% for n in nombre %}

            <li>

                {{n.nombre}}

            </li>

            {% endfor %}
        </ul>
    {% else %}
        
        <p>nombre no encontrado</p>
    {% endif %}
</body>
</html>