<!DOCTYPE html>
{% extends "Base/base.html" %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Agregar Usuarios {% endblock %}
</head>
<body>

    {% block content %}

        <h2> Datos</h2>

        <form method="POST" action="/agregar_usuario/">

            <label>Nombres:</label>
            <input type="text" maxlength="50" required placeholder="EJ: Pedro ">
            <br><br>
            <label>Apellidos:</label>
            <input type="text" maxlength="50" required placeholder="EJ: Rodriguez ">
            <br><br>
            <label>Fecha de nacimiento:</label>
            <input type="date" required>
            <br><br>
            <label>Carrera:</label>
            <input type="text" required placeholder="Ing. Informatica">
            <br><br>
            <input type="submit" value="Guardar">
        </form>

    {% endblock %}
    
</body>
</html>